.input {
	width: 17rem;
	height: 3.5rem;
	margin-bottom: 1rem;
	position: relative;
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid $headerBorder;
		border-radius: 0.5rem;
		outline: none;
		padding: 1rem;
		background: none;
		z-index: 1;
	}
	label {
		position: absolute;
		left: 1rem;
		top: 1rem;
		padding: 0 0.25rem;
		background: $darkblue;
		font-size: 18px;
		transition: 0.3s;
	}
	input:focus + label {
		z-index: 2;
		top: -0.5rem;
		left: 0.8rem;
		font-size: 13px;
		font-weight: 300;
		letter-spacing: 1px;
		background: $darkblue;
	}
	.inputFeild:not(:placeholder-shown).inputFeild:not(:focus) ~ .formLabel {
		z-index: 2;
		top: -0.5rem;
		left: 0.8rem;
		font-size: 13px;
		font-weight: 300;
		letter-spacing: 1px;
		background: $darkblue;
	}
}
// Auth Options
.authSection {
	display: flex;
	flex-direction: column;
	h6 {
		span {
			color: #1a0dab;
			text-decoration: underline;
		}
	}
	.bottomOptions {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.Check {
		display: flex;
		margin: auto 0;
		align-items: center;
		margin-bottom: 0.2rem;
		transform: translateY(-0.4rem);
		input {
			width: 1rem;
			height: 1rem;
			margin-right: 0.5rem;
		}
		label {
			font-size: 13px;
		}
	}
}

.submitBtn {
	border: none;
	outline: none;
	padding: 0.3rem 1rem;
	border-radius: 0.5rem;
	background: $globalblue;
	transform: translateY(-0.4rem);
}
// Add user Button and Popup
.addUserBtn {
	font-size: 20px;
	margin: 0;
	width: 3rem;
	height: 3rem;
	display: grid;
	min-width: 3rem;
	overflow: hidden;
	min-height: 3rem;
	border-radius: 1rem;
	align-items: center;
	transition: 0.3s ease;
	background: #d8d8d8;
	justify-content: center;
	svg path {
		fill: rgb(70, 235, 70);
	}
}

// User Profile in sideBar
.profileImage {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 20%;
	background: $headerBorder;
}

#dropdown-basic {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	height: 48px;
}

.dropdown {
	width: 48px;
}

.menu {
	margin: 4px;
	width: 120px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 0.5rem;
	background-color: $headerTheme;
	border: 0.13rem solid $headerBorder;
}

.item {
	padding: 4px 12px;
	border: none;
	text-decoration: none;
}

.item:hover {
	background: #ffffff1a;
}

.signInBtn {
	border: none;
	outline: none;
	color: #fff;
	font-size: 1rem;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	background: #00aeff;
	padding: 0.4rem 0.5rem;
}

.signInBtn:hover {
	color: #fff;
	text-decoration: none;
}

.menu {
	display: none;
}

.dropdown-toggle::after {
	display: none;
}

.btn-success {
	display: none;
}

.HeaderIcon {
	font-size: 40px;
}

.HeaderIcon:hover path {
	fill: $globalblue;
	transition: 0.3s ease;
}
//VideoCard and Main
.postSection {
	height: 100%;
	display: grid;
	grid-gap: 1rem;
	flex-wrap: wrap;
	padding: 1rem 0 0 0;
	grid-template-columns: repeat(auto-fit, minmax($minVideoCardSize, 1fr));
}

.videoCard {
	width: 100%;
	height:max-content;
	margin: 0 auto;
	overflow: hidden;
	aspect-ratio: 28/27;
}

.thumbnail {
	overflow: hidden;
	aspect-ratio: 16/9;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	.timestamp {
		right: 10px;
		bottom: 5px;
		background: #000;
		position: absolute;
		padding: 1px 6px;
		font-size: 12px;
		border-radius: 4px;
	}
	img {
		width: 280px;
	}
}

.bottom {
	display: grid;
	padding: 7px 0px 0px 0px;
	grid-template-columns: 50px auto;
	.left {
		img {
			margin: 0 auto;
			border-radius: 50%;
		}
	}
	.right {
		font-size: 1rem;
		.title {
			height: auto;
			line-clamp: 2;
			max-height: 40px;
			max-height: 4rem;
			overflow: hidden;
			font-weight: 500;
			white-space: wrap;
			text-overflow: ellipsis;
		}
		.publisherName {
			font-weight: 400;
			font-size: 0.9rem;
			color: #a7a7a7;
		}
		.generalInfo {
			color: #a7a7a7;
			font-size: 0.85rem;
		}
	}
}

@media only screen and (max-width: 560px) {
	.postSection {
		padding: 1.5rem 1.5rem 0 1.5rem;
	}
	.sideBar {
		transform: translateX(-100%);
	}
	.App {
		grid-template-columns: 0 auto;
	}
	.videoCard {
		.bottom {
			margin: 0 1rem;
		}
	}
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0;
		background: #ffffff;
	}
	.Home {
		height: 100%;
		display: grid;
		padding: 0 0 0 0;
	}
}

@media only screen and (max-width: 700px) {
	.videoCard {
		aspect-ratio: 28/22;
	}
	.postSection {
		padding: 1.5rem 0.5rem 0 0.5rem;
	}
}
// Upload Section Components
.close {
	font-size: 2.7rem;
}