.input {
	width: 17rem;
	height: 3.5rem;
	margin-bottom: 1rem;
	position: relative;
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid $headerBorder;
		border-radius: 0.5rem;
		outline: none;
		padding: 1rem;
		background: none;
		z-index: 1;
	}
	label {
		position: absolute;
		left: 1rem;
		top: 1rem;
		padding: 0 0.25rem;
		background: $darkblue;
		font-size: 18px;
		transition: 0.3s;
	}
	input:focus + label {
		z-index: 2;
		top: -0.5rem;
		left: 0.8rem;
		font-size: 13px;
		font-weight: 300;
		letter-spacing: 1px;
		background: $darkblue;
	}
	.inputFeild:not(:placeholder-shown).inputFeild:not(:focus) ~ .formLabel {
		z-index: 2;
		top: -0.5rem;
		left: 0.8rem;
		font-size: 13px;
		font-weight: 300;
		letter-spacing: 1px;
		background: $darkblue;
	}
}
// Auth Options
.authSection {
	display: flex;
	flex-direction: column;
	h6 {
		span {
			color: #1a0dab;
			text-decoration: underline;
		}
	}
	.bottomOptions {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.Check {
		display: flex;
		margin: auto 0;
		align-items: center;
		margin-bottom: 0.2rem;
		transform: translateY(-0.4rem);
		input {
			width: 1rem;
			height: 1rem;
			margin-right: 0.5rem;
		}
		label {
			font-size: 13px;
		}
	}
}

.submitBtn {
	border: none;
	outline: none;
	padding: 0.3rem 1rem;
	border-radius: 0.5rem;
	background: $globalblue;
	transform: translateY(-0.4rem);
}
// Add user Button and Popup
.addUserBtn {
	font-size: 20px;
	margin: 0;
	width: 3rem;
	height: 3rem;
	display: grid;
	min-width: 3rem;
	overflow: hidden;
	min-height: 3rem;
	border-radius: 1rem;
	align-items: center;
	transition: 0.3s ease;
	background: #d8d8d8;
	justify-content: center;
	svg path {
		fill: rgb(70, 235, 70);
	}
}

.sideBar {
	width: 100%;
	height: 5rem;
	display: grid;
	padding: 0 1.8rem;
	align-items: center;
	background: $headerTheme;
	justify-content: space-between;
	grid-template-columns: auto 48px;
	border-bottom: 2px solid $headerBorder;
}

// User Profile in sideBar
.profileImage {
	width: 100%;
	height: 100%;
	border-radius: 20%;
	background: $headerBorder;
}

#dropdown-basic {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	height: 48px;
}

.dropdown {
	width: 48px;
}

.menu {
	margin: 4px;
	width: 120px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 0.5rem;
	background-color: $headerTheme;
	border: 0.13rem solid $headerBorder;
}

.item {
	padding: 4px 12px;
	border: none;
	text-decoration: none;
}

.item:hover {
	background: #ffffff1a;
}

.signInBtn {
	border: none;
	outline: none;
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 4px;
	background: #00aeff;
}

.menu {
	display: none;
}

.dropdown-toggle::after {
	display: none;
}

.btn-success {
	display: none;
}
//VideoCard and Main
.main {
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.videoCard {
	width: 280px;
	height: 240px;
	margin: 0 auto;
}

.thumbnail {
	overflow: hidden;
	aspect-ratio: 16/9;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	.timestamp {
		right: 10px;
		bottom: 5px;
		background: #000;
		position: absolute;
		padding: 1px 6px;
		font-size: 12px;
		border-radius: 6px;
	}
	img {
		width: 280px;
	}
}

.bottom {
	display: grid;
	grid-template-columns: 50px auto;
	.left{
		background-color: red;
		img {
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width: 560px) {
	.videoCard {
		background-color: rgb(204, 7, 7);
	}
}