.Header {
	display: flex;
	height: 4rem;
	padding: 0px 20px;
	grid-area: header;
	align-items: center;
	background: $headerTheme;
	justify-content: space-between;
	border-top: 2px solid $headerBorder;
	.profileImage {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 20%;
	}
	.right {
		display: flex;
		align-items: center;
		.show {
			//
		}
	}
	#dropdown-basic {
		margin: 0;
		padding: 0;
		border: none;
		display: flex;
		background: none;
	}
	.menu {
		margin: 4px;
		width: 120px;
		padding-top: 8px;
		padding-bottom: 8px;
		border-radius: 0.5rem;
		background-color: $headerTheme;
		border: 0.13rem solid $headerBorder;
	}
	.item {
		padding: 4px 12px;
		border: none;
		text-decoration: none;
	}
	.item:hover {
		background: #ffffff1a;
	}
}
.signInBtn {
	border: none;
	outline: none;
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 4px;
	background: #00aeff;
}

.menu {
	display: none;
}
.dropdown-toggle::after {
	display: none;
}
.dropdown-toggle {
	display: none;
}
.btn-success {
	display: none;
}

.userInfo {
	display: flex;
	height: 2.5rem;
	text-align: left;
	margin-left: 0.7rem;
	flex-direction: column;
	justify-content: center;
	h5 {
		font-size: 1.3rem;
		line-height: 1.3rem;
		margin-bottom: 0;
	}
}