.popularPreview {
	width: 100%;
	height: 65vh;
	overflow: hidden;
	background-color: black;
	img {
		width: 100%;
	}
}

.Home {
	height: 100%;
	display: grid;
	grid-template-rows: 5rem auto;
	.main {
		color: #fff;
	}
}

@media only screen and (min-width: 560px) {
	.Home {
		padding: 0 1.8rem 0 1.8rem;
	}	
}

.Header {
	top: 0;
	z-index: 50;
	width: 100%;
	display: grid;
	position: fixed;
	padding: 0 1.8rem;
	grid-area: header;
	align-items: center;
	height: $headerHeight;
	background: $headerTheme;
	justify-content: space-between;
	grid-template-columns: auto 120px;
	border-bottom: 2px solid $headerBorder;
}

.Header .right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
// sideBar
.sideBar {
	left: 0;
	bottom: 0;
	z-index: 50;
	grid-area: menu;
	position: fixed;
	width: $sideBarSize;
	background: $headerTheme;
	height: calc(100% - 5rem);
}